<p class="input-group">
    <input type="{{muestro ? 'text' : 'password'}}"
    ng-model="model[options.key]"
    class="form-control"
    />
    <span class="input-group-btn">
        <span class="btn btn-default" ng-click="cambiarTipo()"><i class="fa fa-fw" ng-class="{'fa-eye' : !muestro, 'fa-eye-slash': muestro}"></i></span>
    </span>
</p>
