<p class="input-group">
    <input  type="text"
    ng-model="model[options.key]"
    class="form-control"
    ng-click="datepicker.open($event)"
    is-open="datepicker.opened"
    min-date="{{minimo}}"
    max-date="{{maximo}}"
    clear-text="{{to.clearText}}"
    close-text="{{to.closeText}}"
    current-text="{{to.currentText}}"
    uib-datepicker-popup="{{to.formatoFecha}}"
    />
    <span class="input-group-btn">
        <button type="button" class="btn btn-default" ng-click="datepicker.open($event)" ng-disabled="to.disabled"><i class="glyphicon glyphicon-calendar"></i></button>
    </span>
</p>
