<div>
    <tags-input

    ng-model="model[options.key]"
    id="{{options.key}}"
    name="{{options.key}}"
    placeholder="{{to.placeholder}}"

    min-tags="{{ to.cantidadMinima ? to.cantidadMinima : 0 }}"
    min-length="1"
    display-property="{{to.propiedadFiltro}}"
    add-from-autocomplete-only="true"
    replace-spaces-with-dashes="{{to.completaConEspacios ? to.completaConEspacios : false}}"
    >
        <auto-complete
        min-length="1"
        source="to.funcion($query)"
        load-on-down-arrow="true"
        ></auto-complete>
    </tags-input>
</div>
