<div class="alert-danger" ng-messages="options.formControl.$error">
  <span class="glyphicon glyphicon-exclamation-sign"></span>
  <span ng-message="{{::name}}" ng-repeat="(name, message) in ::options.validation.messages">
   {{message(options.formControl.$viewValue, options.formControl.$modelValue, this)}}
  </span>
 </div>
