<div class="radio-group">
  <label ng-repeat="(key, option) in to.options" class="radio-inline">
    <input type="radio" id="{{id + '_'+ $index}}" tabindex="0" ng-value="option[to.valueProp || 'value']" ng-model="model[options.key]"> {{option[to.labelProp || 'name']}}
  </label>
</div>
