<div class="input-group">
<input type="text" ng-model="model[options.key]"
 uib-typeahead="item as item[to.propiedad] for item in to.funcion($viewValue) | limitTo:to.limite ? to.limite : 8"
 typeahead-editable="to.permitirNuevo"
 typeahead-wait-ms="to.espera"
 typeahead-loading="to.cargando"
 typeahead-min-length="to.cantidadMinima ? to.cantidadMinima : 3"
 class="form-control">
 <span class="input-group-addon">
 	<span ng-if="to.cargando"><span class="fa fa-refresh fa-spin"></span></span>
 	<span ng-if="!to.cargando" class="fa fa-search fa-fw"></span>
 </span>
 </div>
