/* CSS Document */

.titulo {
    padding: 0;
    color:#F8AF00;
    line-height: 40px;
    background: #023F86;
    margin-bottom: 20px;
    padding: 0 15px;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
}

login {
    background: no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

/*clase para encabezado ordenable en una tabla con puntero manito*/
.encabezado-ordenable {
    cursor: pointer;
}

.glyphicon-none:before {
    content: "\2122";
    color: transparent !important;
}

.modal {
    z-index: 5000 !important;
}

td .input-group-addon {
    width: auto;
}

td .input-group-btn {
    /*width: auto;*/
}

.icon-refresh-animate {
    animation-name: rotar;
    animation-duration: .5s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    -webkit-animation-name: rotar;
    -webkit-animation-duration: 1s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
}

@keyframes rotar {
    from {
        transform: scale(1) rotate(0deg);
    }
    to {
        transform: scale(1) rotate(360deg);
    }
}

@-webkit-keyframes rotar {
    from {
        transform: scale(1) rotate(0deg);
    }
    to {
        transform: scale(1) rotate(360deg);
    }
}

.pagination > .active > a, .pagination > .active > span, .pagination > .active > a:hover, .pagination > .active > span:hover, .pagination > .active > a:focus, .pagination > .active > span:focus{
    background-color: #DA7F7F !important;
    border-color: #DDDDDD !important;
}

body {
    background: no-repeat center center fixed;
    background-image: url(components/devoops/devoops_pattern_b10.png);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

ul.dropdown-menu > li.active > a , ul.dropdown-menu > li > a:hover{
    background-color: #337ab7;
    color:#f0f0f0;
}

ul > li > a > i {
    width: 20px;
    text-align: center;
}

ul.dropdown-menu {
    z-index: 2000;
    opacity: 1;

}

.icono-cargando {
    font-size: 50px;
}

.form-group .help-block {
    display: none;
}

.form-group.has-error .help-block{
    display: block;
}

.columna-habilitado {
    color: #54ae86;
}

.columna-no-habilitado {
    color: #b25050;
}

.fa-vacio{
    color: rgba(0,0,0,0);
}

.vcenter {
    // display: inline-block;
    vertical-align: middle;
    float: none;
    margin-bottom: 0px;
}

/* ICONOS MENU CLIENTE */
.mtbox {
    margin-top: 3px;
    margin-bottom: 40px;
}

.box1 {
    padding: 5px;
    text-align: center;
    color: #989898;
    border-bottom: 1px solid #989898;
}

.box1 span {
    font-size: 50px;

}

.box1 h3 {
    text-align: center;
}

.box0:hover .box1 {
    border-bottom: 1px solid #FBFBFB;
}

.box0 p {
    text-align: center;
    font-size: 12px;
    color: #fff;
}

.box0:hover p {
    color: #990000;
}

.box0:hover {
    background: #FBFBFB;
    box-shadow: 0 2px 1px rgba(0, 0, 0, 0.2);
}

.cargando-calendario {
    position: relative;
    z-index: 1000;
    margin-top: 100px;
}

.modal-body img {
    max-width: 100%;
}

/* FIN ICONOS MENU CLIENTE */

/*.form-group .help-block{
    display: none;
}

.form-group.has-error .help-block {
    display: block;
}*/

.checkbox {
    margin-top: 0px;
    margin-bottom: 0px;
}
