<div class="checkbox">
    <label>
        <input type="checkbox" 
               ng-model="campo.funcionSeleccionarTodos" 
               ng-model-options="{getterSetter: true}"/>
        <i class="fa fa-square-o small"/></label>
</div>
