<div ng-if="campo.ordenable === undefined" ng-click="ejecutarAccion(campo)" class="encabezado-ordenable">
    {{campo.ordenable}}
    <div ng-if="campo.tipo === 'Seleccionable'">
        <div encabezado-seleccionable campo="campo"/>
    </div>
    <div ng-if="campo.tipo !== 'Seleccionable'">
        {{campo.textoEncabezado}}
        <span class="glyphicon" 
              ng-class="{'glyphicon-none':!esOrdenImp(campo.nombreCampo),'glyphicon-chevron-down': esOrdenImp(campo.nombreCampo,false),'glyphicon-chevron-up': esOrdenImp(campo.nombreCampo,true)}">
        </span>
    </div>

</div>
<div ng-if="(campo.ordenable !== undefined && campo.ordenable === false)">
    {{campo.textoEncabezado}}
</div>