<tr>
    <th ng-repeat="columna in columnas" style="vertical-align: middle;" encabezado-ordenable campo="columna" es-orden="esOrdenImp" cambiar-orden="cambiarOrdenImp"></th>
    <th ng-if="acciones" style="vertical-align: middle;" class="text-center">Acciones
<div class="btn-group">
    <button ng-click="mostrarDialogoOrden(columnas)" 
        
        class="btn btn-primary">
        <span class="fa fa-sort"></span>
    </button>
</div>
</th>
</tr>