<div class="form-group col-sm-6 has-error has-feedback">
    <div class="selectContainer" ng-if="filtro.elementos !== undefined">
        <div class="col-sm-3">
            <label class="control-label">{{filtro.label}}</label>
        </div>
        <div class="col-sm-9">
            <select 
                class="form-control" 
                ng-options="elemento as elemento.toString() for elemento in filtro.elementos" 
                ng-model="filtro.elementoSeleccionado"
                ng-change="filtro.actualizarSeleccion()"></select>
        </div>
    </div>
</div>