<div class=" form-group has-error has-feedback col-sm-6">
    <div class="col-sm-2">
        <label class="control-label">Filtro:</label>
    </div>

    <div class="col-sm-6">
        <div class="input-group">
            <input type="text" class="form-control" placeholder="Buscar" ng-model="filtro.filtroTextoClientes" on-enter="filtro.actualizarFiltro()">
            <span class="input-group-addon">
                <span class="fa fa-times" style="cursor: pointer;" ng-click="filtro.limpiarFiltro()"></span> 
            </span>
        </div>

    </div>

    <div class="col-sm-4">
        <button ng-click="filtro.actualizarFiltro()" class="btn btn-danger">Buscar</button>
    </div>
</div>