

<table width="99%" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <th width="49%"scope="col">
        <pagination 
            total-items="paginacion.totalItems" 
            items-per-page="paginacion.itemsPorPagina" 
            ng-model="paginacion.paginaActual" 
            max-size="paginacion.tamanioMaximo" 
            class="pagination-sm" 
            boundary-links="true" 
            num-pages="paginacion.numeroPaginas"
            previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"
            rotate="false">
        </pagination>
    </th>
    <th width="51%" scope="col"><table width="60%" border="0" align="right" cellpadding="0" cellspacing="0">
      <tr>
        <th width="20%" scope="col">Mostrando</th>
        <th width="15%" scope="col"><input class="form-control" ng-model="paginacion.itemsPorPaginaTransitorio" on-enter="paginacion.actualizarItemPorPagina()"/> 
</th>
        <th width="65%" scope="col"> elementos de {{paginacion.totalItems}}</th>
      </tr>
    </table></th>
  </tr>
</table>