<table class="table table-striped" id="tablaOrdenable">
    <tr fila-encabezado-ordenable  columnas="columnas" es-orden="esOrdenImp" cambiar-orden="cambiarOrdenImp" acciones="acciones" id-tabla="'tablaOrdenable'" mostrar-dialogo-orden="mostrarDialogoOrden"></tr>    </thead>
<tr ng-if="elementos.length === 0 && elementos.$resolved"><td colspan="{{columnas.length + 1}}" class="text-center">No se han encontrado elementos para el filtro aplicado</td></tr>
<tr ng-if="elementos.length === 0 && !elementos.$resolved"><td colspan="{{columnas.length + 1}}" class="text-center"><span class="fa fa-spinner fa-pulse icono-cargando"></span></td></tr>
<tr ng-repeat="elemento in elementos" ng-class="{info : elemento.estaSeleccionado}">
    <td ng-repeat="columna in columnas" style="vertical-align: middle;">
        <div ng-if="!columna.tipo">{{devolverValor(elemento, columna)}}</div>
        <div ng-if="columna.tipo === 'Fecha'">{{devolverValor(elemento, columna) | date : 'dd/MM/yyyy'}}</div>
        <div ng-if="columna.tipo === 'FechaHora'">{{devolverValor(elemento, columna) | date : 'dd/MM/yyyy HH:mm'}}</div>
        <div ng-if="columna.tipo === 'Moneda'" class="text-right">{{devolverValor(elemento, columna) | currency}}</div>
        <div ng-if="columna.tipo === 'Numero'" class="text-right">{{devolverValor(elemento, columna) | number:0}}</div>
        <div ng-if="columna.tipo === 'NumeroCentrado'" class="text-center">{{devolverValor(elemento, columna) | number:0}}</div>
        <div ng-if="columna.tipo === 'MonedaSinIVA'" class="text-right">{{devolverValor(elemento, columna) | currency}} + IVA</div>

        <div ng-if="columna.tipo === 'Imagen'" class="text-center" >
            <imagen-en-fila elemento="elemento" columna="columna" valor="devolverValor">
        </div>    

        <div ng-if="columna.tipo === 'Barra'" class="text-center" >
            <div barra-dinamica elemento="elemento" columna="columna" valor="devolverValor">

            </div>
        </div>
        <div ng-if="columna.tipo === 'Booleano'" class="text-center">
            <span class="fa" ng-class="{'fa-check columna-habilitado': devolverValor(elemento, columna),'fa-close columna-no-habilitado': !devolverValor(elemento, columna)}"></span>
        </div>
        <div ng-if="columna.tipo === 'MultipleFilas'">
            <div ng-repeat="valor in devolverValor(elemento, columna)">
                {{valor}}
            </div>
        </div>
        <div ng-if="columna.tipo === 'Seleccionable'">
            <span elemento-seleccionable elemento="elemento" columna="columna"/>  
        </div>
        <div ng-if="columna.tipo === 'Comentario' && devolverValor(elemento, columna)">
            <span class="fa fa-comment"  popover-placement="top" popover-trigger="mouseenter" popover="{{devolverValor(elemento, columna)}}"></span>
        </div>
        <div ng-if="columna.tipo === 'Icono' && devolverValor(elemento, columna) != ''" class="text-center">
            <span class="fa {{devolverValor(elemento, columna, 'icono')}} text-center" popover-placement="top" popover-trigger="mouseenter" popover="{{devolverValor(elemento, columna)}}"></span>
        </div>
    </td>
    <td ng-if="acciones" style="vertical-align: middle; text-align: center">
        <div class="btn-group">
            <button 
                ng-repeat="accion in acciones" 
                ng-click="accion.funcion(elemento)" 
                popover="{{accion.nombre}}" 
                popover-append-to-body="true"
                popover-trigger="mouseenter" 
                ng-class="accion.claseBoton">
                <span ng-class="accion.clase"></span>
            </button>
        </div>
    </td>
</tr>
<tfoot ng-if="footer && !(elementos.length === 0 && elementos.$resolved)" ng-include="footer.template">  
</tfoot>
</table>