<li class="dropdown" ng-controller="InfoUsuarioCtrl as vm">
    <a class="dropdown-toggle account" data-toggle="dropdown">
        <div class="avatar">
            <img ng-if="vm.getImagen()" ng-src="{{vm.getImagen()}}" class="img-rounded" alt="avatar" />
        </div>
        <i class="fa fa-angle-down pull-right" ng-click="vm.mostrarMenu()"></i>
        <div class="user-mini pull-right">
            <span class="welcome">Bienvenido,</span>
            <span>{{vm.getUsuario().vendedor.nombre !== undefined ? vm.getUsuario().vendedor.nombre: vm.getUsuario().nombre }}</span>
        </div>
    </a>
    <ul ng-if="vm.menuVisible" class="dropdown-menu" style="display: block;">
        <li>
            <a href="#"> <i class="fa fa-user"></i>
                <span>Perfil</span>
            </a>
        </li>
        <li>
            <a href="" class="ajax-link" ng-click="vm.cambiarPassword()">
                <i class="fa fa-envelope"></i>
                <span>Cambio contrase&ntilde;a</span>
            </a>
        </li>
        <li>
            <a href="" ng-click="vm.cerrarSesion()">
                <i class="fa fa-power-off"></i>
                <span>Cerrar Sesión</span>
            </a>
        </li>
    </ul>
</li>
