<div ng-if="vm.tieneTitulo" class="modal-header">
    <h4 class="modal-title" translate>{{vm.titulo}}</h4>
</div>
<div class="modal-body">
            <td style="vertical-align: middle; color: blue;"><i class="fa fa-info-circle fa-2x vcenter"></i></td>
            <td style="vertical-align: middle;padding-left: 10px;"><span class="text-center" translate> {{vm.contenido}}</span></td>
</div>
<div class="modal-footer">
    <button class="btn btn-success" ng-click="vm.cerrar()" translate>{{vm.textoCerrar}}</button>
</div>