<div class="modal-header">
    <h5 class="modal-title" translate>{{vm.titulo}}</h5>
</div>
<div class="modal-body">
    <img ng-src="{{vm.img}}" alt="{{vm.info}}" />
</div>
<div class="modal-footer">
    <button class="btn btn-success" ng-click="vm.cerrar()">Cerrar</button>
</div>