<div class="modal-header">
    <h3 class="modal-title" translate>{{vm.titulo}}</h3>
</div>
<div class="modal-body">{{vm.contenido | translate}}<br/>
    <uib-progressbar value="100" type="danger" class="progress-striped active"/><br/>
</div>
