<div ng-if="vm.tieneTitulo" class="modal-header">
    <h4 class="modal-title" translate>{{vm.titulo}}</h4>
</div>
<div class="modal-body">
    <p class="text-center" translate>{{vm.contenido}}</p>
</div>
<div class="modal-footer">
    <button class="btn btn-success" ng-click="vm.si()" translate>{{vm.textoSi}}</button>
    <button ng-if="vm.cancelar" class="btn btn-danger" ng-click="vm.no()" translate>{{vm.textoNo}}</button>
</div>
