<p class="input-group">
  <span ng-if="to.textoIzquierda" class="input-group-addon">
    <span ng-if="!to.textoIzquierda.tipo || to.textoIzquierda.tipo === 'texto'">{{to.textoIzquierda.texto}}</span>
    <span ng-if="to.textoIzquierda.tipo && to.textoIzquierda.tipo === 'icono'" class="fa fa-fw" ng-class="to.textoIzquierda.icono"></span>
  </span>
    <input  type="{{to.type}}"
    ng-model="model[options.key]"
    class="form-control"
    />
     <span ng-if="to.textoDerecha" class="input-group-addon">
       <span ng-if="!to.textoDerecha.tipo || to.textoDerecha.tipo === 'texto'">{{to.textoDerecha.texto}}</span>
       <span ng-if="to.textoDerecha.tipo && to.textoDerecha.tipo === 'icono'" class="fa fa-fw" ng-class="to.textoDerecha.icono"></span>
     </span>
</p>
