<div class="row">
	<div class="col-xs-12" ng-repeat="telefono in vm.telefonos">
		<input-telefono ng-model="telefono" options="vm.options" class="col-xs-11"></input-telefono>
		<button ng-if="!vm.options.templateOptions.disabled" ng-click="vm.quitarTelefono($index)" class="col-xs-1 btn btn-danger">
			<i class="fa fa-trash"></i>
		</button>
	</div>
	<div class="col-xs-12">
		<button ng-if="!vm.options.templateOptions.disabled" ng-click="vm.agregarTelefono()" class="col-xs-12 btn btn-default">Agregar...</button>
	</div>
</div>
