<span>
    <img ng-if="vm.imagen" ng-src="{{vm.imagen}}" class="img-rounded" style="width: 50px;">
    <span ng-if="!vm.imagen">
    	<span  class="fa fa-spinner fa-pulse"></span>
    </span>
</span>

