<div class="btn-group text-center">
	<button
	ng-repeat="accion in col.acciones"
	class="btn"
	ng-class="accion.claseBoton"
	ng-click="vm.ejecutarAccion(accion)"
	ng-if="vm.mostrarImp(accion) && vm.tienePermisosImp(accion) && accion.popover"
	uib-popover="{{accion.popover}}" popover-trigger="'mouseenter'"
	popover-append-to-body="true">
	<span ng-class="accion.icono"></span>
	</button>

	<button
	ng-repeat="accion in col.acciones"
	class="btn"
	ng-class="accion.claseBoton"
	ng-click="vm.ejecutarAccion(accion)"
	ng-if="vm.mostrarImp(accion) && vm.tienePermisosImp(accion) && !accion.popover">
	<span ng-class="accion.icono"></span>
	</button>
</div>
