<div class="row">
    <div class="col-xs-12 titulo">
        <h4>{{titulo}}</h4>
    </div>
</div>

<section class="main">
    <div class="row">
        <div class="col-xs-12 col-sm-12">
            <div class="box">
                <div class="box-header">
                    <div class="box-name">
                        <i class="fa fa-table"></i>
                        <span>Listado {{titulo}}</span>
                    </div>
                    <div class="box-icons">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                        <a class="expand-link">
                            <i class="fa fa-expand"></i>
                        </a>
                    </div>
                    <div class="no-move"></div>
                </div>
                <div class="box-content">
                    <div class="form-horizontal">
                        <p filtro-tabla ng-if="filtro" filtro="filtro"/>
                        <p filtro-seleccion ng-if="filtroSeleccion" filtro="filtroSeleccion"/>
                    </div>                    
                  <table class="table" tabla-ordenable columnas="columnas" elementos="elementos" acciones="acciones" footer="footer" mostrar-dialogo-orden="mostrarDialogoOrden"></table>
                    Separacion
                    <paginacion-con-cantidad-items ng-if="paginacion" paginacion="paginacion"/>
                    <div class="btn-group btn-group-justified" ng-if="accionesGenerales">
                        <a ng-repeat="accion in accionesGenerales" ng-class="accion.claseBoton" ng-click="accion.accion()">{{accion.nombre}}</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>       

