<span ng-if="vm.calcularTotalElementos()"> Mostrando {{vm.calcularPrimerElemento()}} - {{vm.calcularUltimoElemento()}} de {{vm.calcularTotalElementos()}}. </span>
<span ng-if="!vm.calcularTotalElementos()"> No hay elementos para mostrar. </span>
<span> Mostrando <a editable-number="vm.tamanio" e-min="1" href=""->{{vm.calcularTamanioPagina()}}</a> elementos por página. </span>
