<div>
	<div class="row">
		<div class="col-xs-12 titulo">
			<h4>{{tabla.titulo}}</h4>
		</div>
	</div>
	<section class="main">
		<div class="row">
			<div class="col-xs-12 col-sm-12">
				<div class="box">
					<div class="box-header">
						<div class="box-name">
							<i class="fa fa-table"></i>
							<span>{{tabla.titulo}}</span>
						</div>
						<div class="box-icons">
							<a class="collapse-link">
								<i class="fa fa-chevron-up"></i>
							</a>
							<a class="expand-link">
								<i class="fa fa-expand"></i>
							</a>
						</div>
						<div class="no-move"></div>
					</div>
					<div class="box-content">
						<div class="panel-body">
							<div ng-if="vm.configurarListados.filtra" class="col-xs-10">
								<formly-form model="tabla.filtro" fields="tabla.filtro.campos" form="form"></formly-form>
							</div>
							<div ng-if="vm.configurarListados.filtra" class="col-xs-2">
								<button class="btn btn-default pull-right" ng-if="tabla.cargando">
									<span class="pull-right">
										<span class="fa fa-refresh fa-spin"></span>
									</span>
								</button>
								<button class="btn btn-default pull-right" ng-if="!tabla.cargando" ng-click="tabla.cambiarOrden()"><span class="fa fa-gear"></span></button>
								<button class="btn btn-default pull-right" ng-click="tabla.mostrarFiltros()"><span class="fa fa-filter"></span></button>
							</div>
							<table ng-table-dynamic="tabla.tableParams with tabla.cols" show-filter="tabla.filtrosActivos" class="table table-striped">
								<tr ng-if="!tabla.cargando" ng-repeat="row in $data track by row.id">
									<td ng-repeat="col in $columns" ng-class="col.className" celda></td>
								</tr>
								<tr ng-if="tabla.cargando">
									<td colspan="{{$columns.length}}" class="text-center">
										<span class="fa fa-spinner fa-pulse icono-cargando"></span>
									</td>
								</tr>
							</table>

							<div ng-if="vm.configurarListados.pagina" paginacion-personalizada="tabla.tableParams" class="pull-right"></div>
							<br/>
							<br/>
							<div class="btn-group btn-group-justified" ng-if="tabla.accionesGenerales.length > 0">
								<a class="btn" ng-class="accion.claseBoton" ng-repeat="accion in tabla.accionesGenerales" ng-click="vm.ejecutarAccionGeneral(accion)">
									{{accion.texto}}
								</a>
							</div>

						</div>

					</div>
				</div>
			</div>
		</div>
	</section>
</div>
