<p ng-class="{'input-group' : !to.disabled}">
    <input  type="text"
    ng-model="getValor"
    ng-model-options="{getterSetter : true}"
    class="form-control"
    ng-disabled="true"
    />
    <span class="input-group-btn" ng-if="!to.disabled">
        <button type="button" class="btn btn-default" ng-click="abrirDialogoSeleccion()"><i class="fa fa-search"></i></button>
        <button type="button" class="btn btn-danger" ng-click="eliminarSeleccion()"><i class="fa fa-trash"></i></button>
    </span>
</p>
