<div class="panel panel-default">
    <div class="panel-heading">
      {{vm.options.templateOptions.titulo}}
    </div>
    <div class="panel-body">
      <formly-form model="vm.model" fields="vm.campos" form="vm.form"></formly-form>
    </div>
  </div>
  