<div class="modal-header">
  <h3 class="modal-title">Cambiar clave</h3>
</div>
<div class="modal-body">
<div class="row">
  <formly-form model="clave" fields="camposCambiarClave" form="formularioCambiarClave">
  <div class="container-fluid col-lg-12">
    <div class="col-lg-2 col-lg-offset-4 col-md-3 col-md-offset-3 col-xs-6">
      <button type="button" class="btn btn-success btn-block" data-dismiss="modal" ng-click="cambiarClaves()" ng-disabled="formularioCambiarClave.$invalid">
        <span class="glyphicon glyphicon-ok"></span> Aceptar
      </button>
    </div>
    <div class="col-lg-2 col-md-3 col-xs-6">
      <button  type="button" class="btn btn-danger btn-block" ng-click="cancelar()">
        <span class="glyphicon glyphicon-remove"></span> Cancelar
      </button>
    </div>
  </div>
</formly-form>
</div>
</div>



