<div>
	<div class="row">
		<div class="col-xs-12 titulo">
			<h4>{{formulario.titulo | translate}}</h4>
		</div>
	</div>
	<section class="main">
		<div class="row">
			<div class="col-xs-12 col-sm-12">
				<div class="box">
					<div class="box-header">
						<div class="box-name">
							<i class="fa fa-table"></i>
							<span>{{formulario.titulo | translate}}</span>
						</div>
						<div class="box-icons">
							<a class="collapse-link">
								<i class="fa fa-chevron-up"></i>
							</a>
							<a class="expand-link">
								<i class="fa fa-expand"></i>
							</a>
						</div>
						<div class="no-move"></div>
					</div>
					<div class="box-content">
						<div class="panel-body">
							<form autocomplete="off">
								<formly-form model="formulario.elemento" fields="formulario.campos" form="formulario.form" options="formulario.opciones">
									<div class="row col-xs-12 pull-right">
										<div class="pull-right">
											<button type="submit" class="btn btn-success" ng-click="formulario.guardar(formulario)">Guardar</button>
											<button type="button" class="btn btn-danger" ng-click="formulario.cancelar(formulario)">Cancelar</button>
										</div>
									</div>
								</formly-form>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
</div>
