<div class="col-xs-12"  style="padding-bottom: 5px;">
  <div class="col-xs-8 columna-pegada">
    <div class="input-group" ng-class="{'has-error': vm.form.sufijo.$invalid}">
      <div class="input-group-btn">
        <button type="button" ng-disabled="vm.options.templateOptions.disabled" ng-click="vm.mostrarMenu()" id="tipoTelefono" class="btn btn-default dropdown-toggle"
          data-toggle="dropdown">{{vm.telefono.tipo.nombre}}
          <span class="caret"></span>
        </button>
        <ul ng-if="vm.menuVisible" class="dropdown-menu" style="display: block;">
          <li ng-repeat="tipo in vm.tipos">
            <a ng-click="vm.seleccionarTipo(tipo)">{{tipo.nombre}}</a>
          </li>
        </ul>
      </div>
      <span ng-if="vm.telefono.tipo.prefijoHumano" class="input-group-addon">{{vm.telefono.tipo.prefijoHumano}}</span>
      <input name="sufijo" type="number" ng-disabled="vm.options.templateOptions.disabled" ng-minlength="vm.telefono.tipo.minimoSufijo"
        ng-maxlength="vm.telefono.tipo.maximoSufijo" ng-model="vm.telefono.sufijo" placeholder="Sufijo" class="form-control">

    </div>
  </div>
  <div class="col-xs-4 columna-pegada">
      <input name="comentario" type="text" ng-model="vm.telefono.comentario" placeholder="Comentario" class="form-control">
  </div>
</div>
