<form novalidate name="vm.form" longitud-telefono="vm.telefono.tipo.longitud">
	<div class="row" ng-if="vm.telefono.tipo.maximoPrefijo" ng-include="'integragenerico/components/formly/telefono/telefono-con-prefijo.html'"></div>
	<div class="row" ng-if="!vm.telefono.tipo.maximoPrefijo" ng-include="'integragenerico/components/formly/telefono/telefono-sin-prefijo.html'"></div>
</form>
